{% extends 'base.html' %}
{% from 'macros.html' import render_fieldBS %}
{% block content %}
    <div class="container">
    <h3>Who will adopt {{ puppy.name }}?</h3>
    <form action="{{ url_for('adopt_puppy', puppy_id=puppy.id) }}" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            {{ render_fieldBS(form.adopters, placeholder=form.adopters.data) }}
        </fieldset>
        <br>
        <fieldset class="text-right">
            <button type="submit" class="btn btn-primary">Adopt</button>
            <a href="{{url_for('puppy_profile', puppy_id=puppy.id)}}" class="btn btn-default" role="button">Cancel</a>
        </fieldset>
        <br><br>
    </form>
    </div>
{% endblock %}