{% extends 'base.html' %}
{% set active_page = 'puppies' %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <ul>
            {% for message in messages %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> {{ message }}
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endwith %}
<div class="container">
    <br>
    <div class="row text-right">
        <div class="col-md-4"><span></span></div>
        <div class="col-md-4"><span></span></div>
        <div class="col-md-4">
            <a href="{{url_for('new_puppy')}}" class="btn btn-primary" role="button">Create new puppy</a>
        </div>
    </div>
    <h1>Puppies</h1>
        <div class="row">
            {% for p in puppies %}
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <a href="{{ url_for('puppy_profile', puppy_id=p.id) }}"><img src="{{ p.profile.picture }}" alt="{{ p.name }}"></a>
                  <div class="caption">
                    <h3>{{ p.name }}</h3>
                    <p>Gender: {{ p.gender }}</p>
                    <p>Date of birth: {{ p.dateOfBirth }}</p>
                    <p>Weight: {{ p.weight }}</p>
                    <p class="text-right">
                        <a href="{{ url_for('puppy_profile', puppy_id=p.id) }}" class="btn btn-primary" role="button">View profile</a>
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    <nav class="text-center">
      <ul class="pagination">
          {% if pagination.has_prev %}
              <li>
                  <a href="{{ url_for('puppies', page=(pagination.prev_num)) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
          {% else %}
              <li class="disabled">
                  <span aria-hidden="true">&laquo;</span>
              </li>
          {% endif %}
          {%- for page in pagination.iter_pages() %}
              {% if page %}
                  {% if page != pagination.page %}
                      <li><a href="{{ url_for('puppies', page=page) }}">{{ page }}</a></li>
                  {% else %}
                      <li class="active"><a href="{{ url_for('puppies', page=page) }}">{{ page }}</a></li>
                  {% endif %}
{#                  {% else %}#}
{#                      <span class=ellipsis>…</span>#}
              {% endif %}
          {% endfor %}
          {% if pagination.has_next %}
              <li>
                  <a href="{{ url_for('puppies', page=(pagination.next_num)) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          {% else %}
              <li class="disabled">
                  <span aria-hidden="true">&raquo;</span>
              </li>
          {% endif %}
      </ul>
    </nav>
</div><!-- /.container -->
{% endblock %}