{% extends 'base.html' %}
{% set active_page = 'shelters' %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <ul>
            {% for message in messages %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> {{ message }}
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endwith %}
<div class="container">
    <br>
    <div class="row text-right">
        <div class="col-md-4"><span></span></div>
        <div class="col-md-4"><span></span></div>
        <div class="col-md-4">
            <a href="{{url_for('new_shelter')}}" class="btn btn-primary" role="button">Create new shelter</a>
        </div>
    </div>
    <h1>Shelters</h1>
    <div class="container">
        <div class="row">
            {% for shelter in shelters %}
                <div class="col-sm-6 col-md-4">
                    <div class="panel-group">
                        {% if shelter.maximum_capacity == shelter.current_occupancy %}
                            <div class="panel panel-danger">
                        {% else %}
                            <div class="panel panel-info">
                        {% endif %}
                                <div class="panel-heading">{{ shelter.name }}</div>
                                <div class="panel-body">Address: {{ shelter.address }}</div>
                                <div class="panel-body">City: {{ shelter.city }}</div>
                                <div class="panel-body">State: {{ shelter.state }}</div>
                                <div class="panel-body">Maximum capacity: {{ shelter.maximum_capacity }}</div>
                                <div class="panel-body">Current occupancy: {{ shelter.current_occupancy }}</div>
                                <div class="panel-footer text-right">
                                    <a href="{{ url_for('delete_shelter', shelter_id=shelter.id) }}" class="btn btn-danger" role="button">Delete</a>
                                    <a href="{{ url_for('edit_shelter', shelter_id=shelter.id) }}" class="btn btn-default" role="button">Edit</a>
                                </div>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}