<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Iraquitan Cordeiro Filho">
    <link rel="icon" href="../../static/favicon.ico">
    <title>Edit puppy</title>
    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/starter-template.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Puppy shelter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

<div class="container">
    <div class="row row-centered">
        <h1>Edit {{ puppy.name }}</h1>
        <div class="col-lg-3 col-centered">
            <form action="{{ url_for('edit_puppy', puppy_id=puppy.id) }}" method="POST">
                <fieldset>
                    <h2>Main info</h2>
                    <section>
                        Name:
                        <div class="input-group">
                          <span class="input-group-addon" id="name">
                              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                          </span>
                          <input type="text" class="form-control" name="name"
                                 placeholder="{{puppy.name}}" aria-describedby="name"
                                 data-toggle="tooltip" title="Needed to create new puppy" data-placement="right">
                        </div>
                    </section>
{#                    <br>#}
                    <section>
                        Weight:
                        <div class="input-group">
                          <span class="input-group-addon" id="weight">
                              <span class="glyphicon glyphicon-scale" aria-hidden="true"></span>
                          </span>
                          <input type="text" class="form-control" name="weight" placeholder="{{puppy.weight}}" aria-describedby="weight">
                        </div>
                    </section>
{#                    <br>#}
                    <section>
                        Date of birth:
                        <div class="input-group">
                          <span class="input-group-addon" id="birth">
                              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                          </span>
                          <input type="date" class="form-control" name="dateOfBirth" placeholder="{{puppy.dateOfBirth}}" aria-describedby="birth">
                        </div>
                    </section>
{#                    <br>#}
                    <section>
                    Gender:
                        <div class="form-group">
                          <label for="sel1">
                              <select class="form-control" id="sel1" name="gender">
                                <option value="0" disabled="">Gender</option>
                                {% if puppy.gender == 'male' %}
                                  <option value="male" selected="male">Male</option>
                                  <option value="female">Female</option>
                                {% else %}
                                  <option value="male">Male</option>
                                  <option value="female" selected="female">Female</option>
                                {% endif %}
                              </select>
                          </label>
                        </div>
                    </section>
                </fieldset>
                <fieldset>
                    <h2>Profile info</h2>
                    <section>
                        Picture:
                        <div class="input-group">
                            <span class="input-group-addon" id="picture">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                            </span>
                            <input type="text" class="form-control" name="picture" placeholder="{{puppy.profile.picture}}" aria-describedby="picture">
                        </div>
                    </section>
{#                    <br>#}
                    <section>
                        Description:
                        <div class="input-group">
                            <span class="input-group-addon" id="description">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </span>
                            <textarea class="form-control" name="description" aria-describedby="description" rows="5"
                                      placeholder="{{puppy.profile.description}}"></textarea>
                        </div>
                    </section>
{#                    <br>#}
                    <section>
                        Special needs:
                        <div class="input-group">
                            <span class="input-group-addon" id="specialneeds">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </span>
                            <textarea class="form-control" name="specialneeds" aria-describedby="specialneeds" rows="5"
                                      placeholder="{{puppy.profile.specialNeeds}}"></textarea>
                        </div>
                    </section>
                </fieldset>
                <br>
                <fieldset>
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a href="{{url_for('puppies')}}" class="btn btn-default" role="button">Cancel</a>
                </fieldset>
                <br><br>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>