{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <img class="img-responsive img-thumbnail" src="{{ puppy.profile.picture }}" alt="{{ puppy.name }}">
                <div class="row">
                    <div class="col-md-10">
                        <h3>{{ puppy.name }} <span class="label label-default">{{ puppy.gender }}</span></h3>
                    </div>
                    <br>
                    <div class="col-md-2 text-center">
                        {% if puppy.shelter %}
                            <a href="#" class="btn btn-success" role="button">Adopt</a>
                        {% else %}
                            <a href="#" class="btn btn-success disabled" role="button">Adopt</a>
                        {% endif %}
                    </div>
                </div>
                Weight:
                <div class="well well-sm">{{ puppy.weight }}</div>
                Date of birth:
                <div class="well well-sm">{{ puppy.dateOfBirth }}</div>
                Description:
                <div class="well well-sm pre-scrollable">{{ puppy.profile.description }}</div>
                Special needs:
                <div class="well well-sm pre-scrollable">{{ puppy.profile.specialNeeds }}</div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}